%footer.branding
  %p= "&copy; #{Time.new.year} Sun-Li Beatteay"
  %p.links
    %a.github(href="https://github.com/sunny-b") GitHub
    %a.medium(href="https://medium.com/@SunnyB") Medium
    %a.linkedin(href="https://linkedin.com/in/sjbeatteay") LinkedIn
    %a.twitter(href="https://twitter.com/SunnyPaxos") Twitter
